#img-bg{
    background-image: url('https://i.pinimg.com/originals/cd/76/d7/cd76d793c30eb1d8afdb9193ce0b8984.jpg');

    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}