#img-bg{
    background-image: url('https://thumbs.dreamstime.com/b/c%C3%B3digo-fonte-e-papel-de-parede-do-desktop-pela-linguagem-programa%C3%A7%C3%A3o-com-codi-125215647.jpg');

    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}